<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&amp;display=swap">
    {{- with resources.Get "css/main.css" | minify | fingerprint }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
    {{- end }}
  </head>
  <body>
    <a class="skip-link" href="#main">Skip to content</a>
    <div class="site">
      {{ partial "sidebar.html" . }}
      <main id="main" tabindex="-1">
        <article>
          {{- block "main" . }}{{ end }}
        </article>
      </main>
    </div>
    {{- if .Store.Get "hasMermaid" }}
      {{- with resources.Get "js/mermaid.js" | minify | fingerprint }}
        <script type="module" src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
      {{- end }}
    {{- end }}
  </body>
</html>
